.book-table {
  width: 100%;
  border-collapse: collapse;
}

.book-table th,
.book-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.book-table th {
  background-color: #f2f2f2;
}

.book-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

button {
  cursor: pointer;
}

/* Table container to enable scrolling */
.table-container {
  max-height: 300px; /* Set height to show only 3 rows */
  overflow-y: auto; /* Enables vertical scrolling */
  margin: 20px auto; /* Center table container */
  border: 1px solid #ddd; /* Optional border around the table container */
  border-radius: 5px;
  background-color: #dcdcd3;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #73a3ad;
  color: rgb(245, 239, 225);
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f8f2f7;
}

.update-button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.update-button:hover {
  background-color: #45a049;
}

.delete-button {
  background-color: #f43685;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #e53935;
}
